/********** Buttons */

.button {
  background: $feature;
  border: $border $shade;
  border-radius: $radius;
  color: white;
  display: inline-block;
  line-height: 2.5;
  margin: $unit 0;
  padding: 0 $unit*1.5;
  text-align: center;
  text-decoration: none;
  &:hover, &:visited {
    color: white;
  }
  &.inline {
    line-height: 2.0;
    margin: 0 $unit*0.25;
    padding: 0 $unit*0.5;
    width: auto;
  }
  span {
    float: right;
  }
}

.hollow {
  background: transparent;
  border-color: $feature;
  color: $feature;
  &:hover, &:visited {
    color: $feature;
  }
}

.twitter {
  background: #00aced;
}
.facebook {
  background: #3b5998;
}
.linkedin {
  background: #007bb6;
}
.slack {
  background: #56B68B;
  border-color: darken(#56B68B, 5%);
  &.hollow {
    background: transparent;
    border-color: #56B68B;
    color: #56B68B;
    &:hover, &:visited {
      color: #56B68B;
    }
  }
}
.ios {
  background: #111;
  border-color: darken(#111, 5%);
  &.hollow {
    background: transparent;
    color: #111;
    &:hover, &:visited {
      color: #111;
    }
  }
}
.google {
  background: #dd4b39;
  border-color: darken(#dd4b39, 5%);
  &.hollow {
    background: transparent;
    color: #dd4b39;
    &:hover, &:visited {
      color: #dd4b39;
    }
  }
}

section:first-of-type {
  .button {
    border: $border $shine;
    box-shadow: $shadow;
  }
  .hollow {
    border-color: $shine;
    box-shadow: none;
  }
}

nav .button {
  line-height: 2.875;
  margin: 0 0 0 $unit;
}

.button-group {
  .button {
    margin: $unit*0.5 $unit*0.25 $unit*1.5;
  }
}

.full-width {
  line-height: 3.25;
  width: 100%;
}
