/******************** Styles */

/******************** Layout */

section, footer {
  overflow: hidden;
  width: 100%;
}

section {
  display: flex;
  align-items: stretch;
  height: calc(100vh - 60px);
}

nav {
  border-bottom: $border $selection;
  overflow: hidden;
  padding: 9px 12px 6px;
  height: 44px;
}

article, aside {
  flex: 1 1 auto;
  padding: 12px 0;
}

/********** Aside */

aside {
  background: $shade;
  border-right: $border $selection;
  box-shadow: $shadow;
  flex-basis: 280px;
  min-width: 280px;
  max-width: 280px;
}

hgroup {
  padding: 0 12px;
}

ul {
  list-style: none;
  margin: 12px 0 0;
  padding: 0;
}

ul ul {
  padding: 0 0 12px;
}

li {
  font-weight: 500;
  padding: 0 12px;
}

ul ul > li {
  background: $shade;
  border-top: $border $selection;
  margin: 0 -12px;
  padding: 12px;
  strong {
    color: $alert;
  }
  p {
    font-weight: 400;
  }
  &:last-of-type {
    border-bottom: $border $selection;
  }
}

.badge {
  background: $alert;
  border-radius: 18rem;
  color: #fff;
  float: right;
  height: 18px;
  line-height: 18px;
  width: 18px;
  text-align: center;
}

/********** Navigation */

nav {
  > a {
    float: left;
    line-height: 2;
    margin: 0;
    padding-top: $unit*0.375;
    max-width: 35%;
  }
  ul {
    float: right;
    max-width: 60%;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  li {
    float: left;
  }
  li a {
    display: block;
    padding: 0 $unit;
    line-height: 2.5;
    margin: $unit*0.625 0;
  }
}

/********** Article */

.tabs {
  height: 24px;
  padding: 4px 24px 11px;
  ul {
    float: left;
    max-width: 100%;
  }
  li {
    padding-left: 0;
  }
  a {
    color: $text;
    margin: 0;
    padding-right: 48px;
    padding-bottom: 4px;
    padding-left: 0;
  }
  .selected {
    color: $feature;
    border-bottom: $border $feature;
  }
}

article hgroup {
  margin: 0 12px;
  &.type {
    align-items: flex-start;
    border-bottom: $border $selection;
    display: flex;
    justify-content: space-between;
    margin: 32px 0 0;
    padding: 0 24px;
  }
  h5 {
    font-weight: 500;
    text-transform: uppercase;;
  }
}

.card {
  border: $border $selection;
  border-radius: $radius;
  margin: 12px 24px 0;
}

.container {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 12px 0 0 12px;
}

.field {
  flex: 1 1 auto;
  margin-bottom: $unit * 2;
  padding-right: $unit * 2;
  width: 100%;
  &.\-1 { width: calc(100% * 1 / 12 - 16px); }
  &.\-2 { width: calc(100% * 2 / 12 - 16px);}
  &.\-3 { width: calc(100% * 3 / 12 - 16px); }
  &.\-4 { width: calc(100% * 4 / 12 - 16px); }
  &.\-5 { width: calc(100% * 5 / 12 - 16px); }
  &.\-6 { width: calc(100% * 6 / 12 - 16px); }
  &.\-7 { width: calc(100% * 7 / 12 - 16px); }
  &.\-8 { width: calc(100% * 8 / 12 - 16px); }
  &.\-9 { width: calc(100% * 9 / 12 - 16px); }
  &.\-10 { width: calc(100% * 10 / 12 - 16px); }
  &.\-11 { width: calc(100% * 11 / 12 - 16px); }
}

.footer {
  background: $shade;
  border-bottom-left-radius: $radius;
  border-bottom-right-radius: $radius;
  border-top: $border $selection;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 12px;
  h6 {
    line-height: 3.2rem;
  }
}



/******************** Decoration */

a {
  color: $feature;
  text-decoration: none;
  transition: all 0.25s;
}
a:hover {
  color: $feature-light;
}

::selection {
  background: $selection;}

/********** Buttons */

.button {
  background: $feature;
  border: 1px solid $shade;
  color: $feature-dark;
  margin-right: $unit*2;
  margin-left: $unit*2;
}

.hollow {
  border: 1px solid $selection;
  margin-right: $unit*2;
  margin-left: $unit*2;
}
