/******************** Styles */

/******************** Layout */

section, footer {
  overflow: hidden;
  width: 100%;
}

section {
  display: flex;
  align-items: stretch;
  height: calc(100vh - 60px);
}

nav {
  overflow: hidden;
  padding: 8px 12px;
  height: 44px;
}

article, aside {
  flex: 1 1 auto;
  padding: 12px 0;
}

/********** Aside */

aside {
  background: $shade;
  border: $border $selection;
  box-shadow: $shadow;
  flex-basis: 240px;
  min-width:240px;
  max-width:240px;
}

hgroup {
  padding: 0 12px;
}

ul {
  list-style: none;
  margin: 12px 0 0;
  padding: 0;
}

ul ul {
  padding: 0;
}

li {
  font-weight: 500;
  padding: 0 12px;
}

ul ul > li {
  background: $shade;
  border-top: $border $selection;
  margin: 0 -12px;
  padding: 12px;
  strong {
    color: $feature;
  }
  p {
    font-weight: 400;
  }
  &:last-of-type {
    border-bottom: $border $selection;
  }
}

.badge {
  background: $feature;
  border-radius: 18rem;
  color: #fff;
  float: right;
  height: 18px;
  line-height: 18px;
  width: 18px;
  text-align: center;
}

/********** Navigation */

nav {
  > a {
    float: left;
    line-height: 2;
    margin: 0;
    padding-top: $unit*0.375;
    max-width: 35%;
  }
  ul {
    float: right;
    max-width: 60%;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  li {
    float: left;
  }
  li a {
    display: block;
    padding: 0 $unit;
    line-height: 2.5;
    margin: $unit*0.25 0;
  }
}

/********** Article */

.card {
  border: $border $selection;
  border-radius: $radius;
  margin: 12px 12px 0;
}

.body {
  padding: 12px;
}

.footer {
  background: $shade;
  border-bottom-left-radius: $radius;
  border-bottom-right-radius: $radius;
  border-top: $border $selection;
  padding: 12px;
}



/******************** Decoration */

a {
  color: $feature;
  text-decoration: none;
  transition: all 0.25s;
}
a:hover {
  color: $feature-light;
}

::selection {
  background: $selection;}

/********** Buttons */

.button {
  background: $feature;
  border: 1px solid $shade;
  color: $feature-dark;
  margin-right: $unit*2;
  margin-left: $unit*2;
}

.hollow {
  border: 1px solid $selection;
  margin-right: $unit*2;
  margin-left: $unit*2;
}
