/******************** Type */

html {
  font-size: 62.5%;
}

body {
  font-family: $font-family;
  font-size: $font-size;
  color: $text;
  line-height: $line-height;
  -webkit-font-smoothing: antialiased;
}

/******************** Weight, Line-hight, Margins */

h1, h2 {
  font-weight: 500;
  letter-spacing: 0.015rem;
  line-height: 1.35;
  margin: 0 0 $unit;
}
h3, h4, h5 {
  font-weight: 300;
  letter-spacing: 0.015rem;
  line-height: 1.45;
  margin: 0 0 $unit;
}
h6 {
  font-weight: 600;
  line-height: 1.0;
  margin: 0;
}
p {
  margin: $unit*0.5 0;
}

/******************** Size */

h1 { font-size: 1.8rem; }
h2 { font-size: 1.6rem; }
h3 { font-size: 1.4rem; }
h4 { font-size: 1.4rem; }
h5 { font-size: 1.2rem; }
h6 { font-size: 1.1rem; }

p, ul, li { font-size: 1.2rem; }

/******************** Other */

h4 {
  color: $text-light;
}
h6 {
  color: $text-light;
  text-transform: uppercase;
}
strong {
  font-weight: 500;
  font-size: 1.1rem;
  text-transform: uppercase;
}
