/******************** Variables */

$font-family: HelveticaNeue-Book, 'Helvetica Neue Book', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-size: 16px;
$line-height: 1.65;

$unit: 1em;
$radius: 0.125em;

$text: rgba(75, 75, 75, 1.0);
$text-dark: rgba(25, 25, 25, 1.0);
$text-light: rgba(125, 125, 125, 1.0);

$selection: rgba(0, 0, 0, 0.16);
$highlight: rgba(0, 0, 0, 0.02);

$feature: rgba(12, 166, 242, 1.0);
$feature-dark: rgba(32, 53, 64, 1.0);
$feature-light: rgba(38, 183, 255, 1.0);

$shade: rgba(0, 0, 0, 0.08);
$shine: rgba(255, 255, 255, 0.08);

$shade-solid: rgba(248, 248, 248, 1.0);

$shadow: 0 0 $unit*0.5 0 $shade;

$border: 1px solid;
$border-dashed: 1px dashed;
$border-dotted: 1px dotted;


/******** Responsive */

$desk: 55em;
$palm: 32em;

$content-offest: 1em;
$column-pad: 13em;

$content-width: $desk - $content-offest;
$column-width: $content-width - $column-pad;
